* {
    font: 1.4rem/2rem "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #36454F;
    color: #F9F6EE;
    
    p {
        font-size: 1rem;
        line-height: 1.4em;
    }
    
    a {
        position: relative;
        text-decoration: none;
        color: #7CB9E8;
        transition: color 0.3s ease;
    }
    a:hover {
        color: #F0F8FF;
    }
    a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: #00FFFF; /* Highlight color */
        transition: width 0.3s ease;
    }
    a:hover::after {
        width: 100%; /* Full underline width */
    }
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
.welcome-page {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    a {
        font-size: inherit;
    }
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
