<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
		</head>
		<body>
			<nav>
		    		<ul>
			        	<li><a href="./index.html">home</a></li>
		        		<li><a href="/blog">blog</a></li>
		    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
		    		<ul>
		        		<li><a href="mailto:fabiovalho@gmail.com">fabiovalho@gmail.com</a></li>
		        		<li><a href="https://github.com/fabiovalho">github.com/fabiovalho</a></li>
				</ul>
			</footer>
		</body>
	</html>
